extends ../layout

block content
  h1 Administrative panel / users
  table(border='1')
    tr
      th UserId
      th Email
      th Name
      th Phone
      th Admin
      th Points
      th Referral
      th Actions
    for user in users
      tr
        td= user.userId
        td= user.email
        td= user.name
        td= user.phone
        td= user.admin
        td= user.points
        td= user.referral
        td #[a(href="/admin/users/edit/" + user.userId) Edit] #[a(href="/admin/users/delete/" + user.userId) Delete]
