extends ../layout

block content
  h1 Administrative panel / users
  table(border='1')
    tr
      th UserId
      th Email
      th Name
      th Phone
      th Admin
      th Points
      th Actions
    for user in users
      tr
        td= user.userId
        td= user.email
        td= user.name
        td= user.phone
        td= user.admin
        td= user.points
        td
          form(action="/admin/users/delete" id="delete-form" method="post" enctype="application/x-www-form-urlencoded")
            input(type="hidden" name="userId" value=user.userId)
            button(type="submit" form="delete-form") Delete
