extends ../layout
block content
  h1 register
  if errors
    ul
      for err in errors
        li= err
    p please try again
  form(action="/auth/register" id="register-form" method="post")
    div
      label(for="firstName") First Name
      input(type="text" name="firstName" placeholder="James" value=firstName required)
    div
      label(for="lastName") Last Name
      input(type="text" name="lastName" placeholder="Smith" value=lastName required)
    div
      label(for="email") Email Address
      input(type="email" name="email" placeholder="james.smith@example.net" value=email required)
    div
      label(for="phone") Phone Number
      input(type="tel" name="phone" placeholder="+1 206 555 0100" value=phone required)
    div
      label(for="address") Address
      input(type="text" name="address" placeholder="1 Infinite Loop, Cupertino, CA 95014 USA" value=address required)
    div
      label(for="password") Password
      input(type="password" name="password" placeholder="At least 12 characters" required)
      input(type="password" name="passwordConfirm" placeholder="Confirm password" required)
    div
      label(for="referent") Referent code
      input(type="text" name="referent" placeholder="Referent code" value=referent required)
    button(type="submit" form="register-form") register
