extends ../layout

block navbar
  include ../navbar

block content
  nav(aria-label='Page navigation')
    ul.pagination.justify-content-center
      if currentPage == 1
        li.page-item.disabled
          a.page-link(href='?page=' + currentPage, tabindex='-1', aria-disabled='true') Previous
      else
        li.page-item
          a.page-link(href='?page=' + (currentPage - 1)) Previous
        if (currentPage - 2 != 0)
          li.page-item
            a.page-link(href='?page=' + (currentPage - 2)) #{currentPage - 2}
        li.page-item
          a.page-link(href='?page=' + (currentPage - 1)) #{currentPage - 1}
      li.page-item.active(aria-current="page")
        span.page-link #{currentPage}
        span.sr-only (current)
      if currentPage == numberOfPages
        li.page-item.disabled
          a.page-link(href='?page=' + currentPage, tabindex='-1', aria-disabled='true') Next
      else
        li.page-item
          a.page-link(href='?page=' + (currentPage + 1)) #{currentPage + 1}
        if (currentPage + 2 <= numberOfPages)
          li.page-item
            a.page-link(href='?page=' + (currentPage + 2)) #{currentPage + 2}
        li.page-item
          a.page-link(href='?page=' + (currentPage + 1)) Next
  .container
    .row
      for product in products
        .card
          img.card-img-top.img-thumbnail(src=product.thumbnail, alt=product.name + " thumbnail")
          .card-body
            h5.card-title #{product.name}
            p.card-text #[b #{product.price}]€, #[b #{product.points}] points
            a.btn.btn-primary.stretched-link(href=product.image) See product
