extends ../layout

block stylesheet
  link(rel="stylesheet", href="/css/register.css")

block content
  .text-center
    h1.h3.mb-3.font-weight-normal register
    p.
      Please use a real email address#[br]
      Use a password with at least #{passwordLength} characters
    if errors
      ul
        for err in errors
          li= err
      p please try again
    form.form-register(action="/register" id="register-form" method="post" enctype="application/x-www-form-urlencoded")
      div
        label.sr-only(for="firstName") First Name
        input.form-control(type="text" name="firstName" placeholder="James" value=firstName required)
      div
        label.sr-only(for="lastName") Last Name
        input.form-control(type="text" name="lastName" placeholder="Smith" value=lastName required)
      div
        label.sr-only(for="email") Email Address
        input.form-control(type="email" name="email" placeholder="james.smith@example.net" value=email required)
      div
        label.sr-only(for="phone") Phone Number
        input.form-control(type="tel" name="phone" placeholder="+1 206 555 0100" value=phone required)
      div
        label.sr-only(for="address") Address
        input.form-control(type="text" name="address" placeholder="1 Infinite Loop, Cupertino, CA 95014 USA" value=address required)
      div
        label.sr-only(for="password") Password
        input.form-control(type="password" name="password" placeholder="Password" required)
        input.form-control(type="password" name="passwordConfirm" placeholder="Confirm" required)
      div
        label.sr-only(for="referral") Referral code
        input.form-control(type="text" name="referral" placeholder="Referral code" value=referral required)
      button.btn.btn-lg.btn-primary.btn-block(type="submit" form="register-form") register
    p Already have an account? #[a(href="/login") login into your account]
