extends layout

block content
  h1 Welcome back, #{user.info.name.first}!
  p #[a(href="/") homepage] #[a(href="/logout") logout]
  h2 Your account
  h3 Personal Information
  ul
    li First name #[b #{user.info.name.first}]
    li Last name #[b #{user.info.name.last}]
    li Email address #[b #{user.email}]
    li Phone number #[b #{user.info.phone}]
    li Address #[b #{user.info.address}]
  h3 Store
  p Your referral code is #[b #{user.referral.user}]
  p You currently have #[b #{user.points}] points.
  h3 Miscellaneous
  if user.admin
    p You are an #[b administrator] of the store.
  p.
    Your account was created on #{creationDate}#[br]
    Your account was last updated on #{UpdateDate}
  img(src="/account/avatar", alt="your avatar")
