extends layout

block content
  h1 #{httpCode} internal server error
  p contact the administrators if you think this should not happen
  hr
  h2 technical error
  p on #[b #{time}]
  p file #[b #{error.filename}] at #[b #{error.line}:#{error.column}]
  p= error.msg
  p= error.code
