extends layout

block content
  h1 #{siteName}
  p See your #[a(href="/account") account]
  div
    for product in products
      p #[b #{product.name}], #[b #{product.price}]€, #[b #{product.points}] points
      p
        a(href=product.image)
          img(src=product.thumbnail, alt=product.name + " thumbnail")
