extends ../layout
block content
  h1 Administrative panel / products
  h2 Add new product
  p Please make sure your image is either a #[b jpg], #[b jpeg], #[b png] or #[b webp] file.
  form(action="/admin/products/add", method="post" id="item-form" enctype="multipart/form-data")
    div
      label(for="name") Product name
      input(type="text", name="name" required)
    div
      label(for="price") Price
      input(type="number", name="price" required)
    div
      label(for="points") Points
      input(type="number", name="points" required)
    div
      label(for="image") Image
      input(type="file" name="image" required)
    button(type="submit" form="item-form") Add
  h2 Product management
  if numberOfProducts == 0
    p There are no products stored
  else
    p There are #{numberOfProducts} products in database
    table.table.table-hover
      tr
        th(scope="col") ProductId
        th(scope="col") Name
        th(scope="col") Available
        th(scope="col") Price
        th(scope="col") Points
        th(scope="col") Image
        th(scope="col") Actions
      for product in products
        tr
          td= product.productId
          td= product.name
          td= product.available
          td= product.price
          td= product.points
          td
            a(href=product.image)
              img.img-thumbnail(src=product.thumbnail, alt=product.name + " thumbnail")
          td #[a(href="/admin/products/edit/" + product.productId) Edit] #[a(href="/admin/products/delete/" + product.productId) Delete]

