extends ../layout

block navbar
  include ../navbar-admin

block content
  .container
    h1 Product management
    h2 Add new product
    form(action="/admin/products/add", method="post" id="item-form" enctype="multipart/form-data")
      .form-group
        label(for="name") Product name
        input.form-control(type="text", name="name" placeholder="Enter name" required)
      .form-group
        label(for="price") Price
        input.form-control(type="number", name="price" placeholder="Set price (in euros)" required)
      .form-group
        label(for="points") Points
        input.form-control(type="number", name="points" placeholder="Set number of points for product" required)
      .form-group
        label(for="image") Image
        input.form-control-file(type="file" name="image" aria-describedby="imageHelp" required)
        small#imageHelp.form-text.text-muted Please make sure your image is either a #[b jpg], #[b jpeg], #[b png] or #[b webp] file.
      button.btn.btn-primary(type="submit" form="item-form") Add new product
    h2 List of products
    if numberOfProducts == 0
      p There are no products in database
    else
      p There are #{numberOfProducts} products in database, #{numberOfProductsAvailable} of them are available
      table.table.table-hover
        tr
          th(scope="col") Name
          th(scope="col") Available
          th(scope="col") Price
          th(scope="col") Points
          th(scope="col") Image
          th(scope="col") Actions
        for product in products
          tr
            td= product.name
            td= product.available
            td= product.price
            td= product.points
            td
              a(href=product.image)
                img.img-thumbnail(src=product.thumbnail, alt=product.name + " thumbnail")
            if (product.available == "yes")
              td #[a(href="/admin/products/edit/" + product.productId) Edit] #[a(href="/products/" + product.productId + "/details") See product]
            else
              td #[a(href="/admin/products/edit/" + product.productId) Edit]

